.invoices-page .modal-overlay .modal-content {
  height: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.modal-medium {
  height: 300px !important;
  width: 600px !important;
}

.modal-large {
  height: 500px !important;
  width: 1200px !important;
}


.invoices-page
  .modal-overlay
  .modal-content
  .container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  .invoices-page
  .modal-overlay
  .modal-content
  .container .products-wrapper{
    position: relative;
    width: 50%;
  }

  
  .invoices-page
  .modal-overlay
  .modal-content
  .container .products-wrapper .adauga{
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }


  .invoices-page
  .modal-overlay
  .modal-content
  .container .products-form {
    display: flex;
    flex-direction: row;
  }


.invoices-page
  .modal-overlay
  .modal-content
  select {
  text-align: center;
  width: 280px;
  padding: 5px;
  margin-left: 10px;
}

.invoices-page
  .modal-overlay
  .modal-content
  .container
  .error
  p {
  margin: 0;
  color: red;
}


.invoices-page .modal-overlay .modal-content .table-display-container {
  height: 50%;
  overflow: auto;
  margin-bottom: 10px;
}







