.modal-client-profile .modal-overlay .modal-content {
  height: 550px !important;
  width: 850px !important;
}

.modal-file-details .modal-overlay .modal-content .file-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.modal-file-details .modal-overlay .modal-content .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.modal-file-details .modal-overlay .modal-content .row label {
  width: 130px;
}
.modal-file-details .modal-overlay .modal-content .row span {
  margin-right: 10px;
}

.modal-file-details .modal-overlay .modal-content .row input {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.modal-file-details .modal-overlay .modal-content .file-info hr {
  margin: 10px;
}

.modal-file-details .modal-overlay .modal-content .table-display-container {
  height: 47vh;
}

.modal-file-details .modal-overlay .modal-content .close {
  width: 100%;
  display: flex;
  justify-content: center;
}
