.thead-search input {
  width: 80%;
}

.table-display th {
  text-align: center;
  padding: 2px;
  font-size: 12px;
  background-color: rgba(171, 10, 235, 0.932);
}

.thead-tr .small {
  width: 80px;
}

.thead-tr .medium {
 width: 150px;
}

.thead-tr .large {
  width: 400px;
}

.thead {
    position: sticky;
    top: 0;
    z-index: 1; 
}

.thead th {
    padding: 10px;
    border: 1px solid #ccc;
}