.services-page .modal-overlay .modal-content {
    height: 270px;
    width: 300px;
}


.services-page .modal-overlay .modal-content .new-service-form .buttons-wrapper {
    display: flex;
    justify-content: space-between;
}

.services-page .modal-overlay .modal-content .new-service-form  input {
    width: 95%;
    margin-bottom: 5px;
    padding: 5px;
  }

  .services-page .modal-overlay .modal-content #buton-produse {
    position: relative;
    left: 10%;
    margin-bottom: 10px;
  }