.regular-invoce-form {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 50%;
  }

  .fullSize {
    width: 100%;
  }
  
  .regular-invoce-form .input {
    width: 45%;
    padding: 2px;
    margin-left: 9px;
    margin-bottom: 2px;
  }
  
  .regular-invoce-form .lists {
    margin-top: 5px;
    width: 100%;
    display: flex;
    gap: 10px;
  }

  @media (max-width: 1019px) {

    .invoices-page .modal-overlay .modal-content .table-display-container {
      margin-top: 15px;
    }
    .regular-invoce-form .input {
      width: 95%;
      margin-bottom: 1px;
    }

  }