.employees-page .modal-overlay .modal-content {
  height: 390px;
  width: 300px;
}

.employees-page .modal-overlay .modal-content .new-employee-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 4px;
  }
  
  .employees-page .modal-overlay .modal-content .new-employee-form input {
    padding: 10px;
  }
  
  .employees-page .modal-overlay .modal-content .new-employee-form button {
    width: 100px;
  }

  .employees-page .modal-overlay .modal-content .new-employee-form .buttons-wrapper {
    display: flex;
    justify-content: space-between;
  }