.modal-produseExtra-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-produseExtra-overlay .modal-produseExtra-content {
    background-color: white;
    height: 300px;
    width: 375px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    left: 250px;
    top: 30px;
  }
  

  .modal-produseExtra-overlay .modal-produseExtra-content .produseExtra-table {
    height: calc(100% - 48px); 
    overflow: auto;
  }
  
  .modal-produseExtra-overlay .modal-produseExtra-content .table-dispaly {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
  }

  .modal-produseExtra-overlay .modal-produseExtra-content .table-dispaly .small{
    width: 50px;
  }
  
  .modal-produseExtra-overlay .modal-produseExtra-content .table-dispaly .tbody {
    position: relative;
    z-index: 0; 
  }

  .modal-produseExtra-overlay .modal-produseExtra-content .table-dispaly .thead {
    position: sticky;
    top: 0;
    z-index: 1; 
    background-color: #fff; 
  }

  
  .modal-produseExtra-overlay .modal-produseExtra-content .table-dispaly td {
    text-align: center;
  }
  
  .modal-produseExtra-overlay .modal-produseExtra-content .table-dispaly .thead th {
    padding: 0 10px 0 10px;
    font-size: 12px;
  }
  
  .modal-produseExtra-overlay .modal-produseExtra-content .buttons-wrapper {
    width: 100%;
    position: sticky;
    bottom: 0;
    z-index: 1;
  }

  .modal-produseExtra-overlay .modal-produseExtra-content .descriere {
    width: 150px;
  }
  