.row {
  width: 100%;
  display: flex;
}

td.icon {
  text-align: center !important;
  font-size: 20px;
}

td.icon > svg {
  margin: 0 10px 0 10px;
  cursor: pointer;
}


.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.trash-wreapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trash-wreapper svg {
  cursor: pointer;
}