.services-page .title {
  display: flex;
  justify-content: space-between; /* Plasează elementele la capetele containerului */
  align-items: center; /* Centrează vertical elementele în container */
  height: 47px;
  margin-top: 5px;
}

.services-page .title h2 {
  position: relative;
  right: 50%;
}
