.appointments-page .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 47px;
  margin-top: 5px;
}

.appointments-page .modal-fisa {
  width: 100%;
  height: auto;
}

.appointments-page .title h2 {
  position: absolute;
  right: 45%;
}

.appointments-page .title .buttons-wrapper {
  display: flex;
  gap: 10px;
}